<a href="https://colab.research.google.com/github/lrnrdr/Prediction-of-Product-Sales/blob/main/Prediction_of_Product_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Title: (Prediction of Product Sales).
- Author: Loraine Rodriguez

## Loading Data

In [ ]:

import pandas as pd
# file path
df = "/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/sales_predictions_2023.csv"
# load in the data
ds_salaries = pd.read_csv(df)

In [ ]:
# df.head()
ds_salaries.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
## df.info()

ds_salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

## Data Cleaning

In [ ]:
# How many rows and columns?
ds_salaries.shape

(8523, 12)

In [ ]:
What are the datatypes of each variable?
ds_salaries.dtypes

Object `variable` not found.

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [ ]:
# - Item_Type - has all food items except one that says Household.
# - Outlet_Type-  supermarkets are being compared but there is only one grocerystore.
# - Outlet_Size - There is a NAN so this comlumn is incomplete.

In [ ]:
# 3) Are there duplicates? If so, drop any duplicates.
duplicate_count = ds_salaries.duplicated().sum()
print("Number of duplicates:", duplicate_count)

Number of duplicates: 0

In [ ]:
# - There are no duplicates

In [ ]:
# 4) Identify missing values.

missing_values = ds_salaries.isnull()

# Display the missing values DataFrame and missing value counts
print(missing_values)

      Item_Identifier  Item_Weight  Item_Fat_Content  Item_Visibility  \
0               False        False             False            False
1               False        False             False            False
2               False        False             False            False
3               False        False             False            False
4               False        False             False            False
...               ...          ...               ...              ...
8518            False        False             False            False
8519            False        False             False            False
8520            False        False             False            False
8521            False        False             False            False
8522            False        False             False            False

      Item_Type  Item_MRP  Outlet_Identifier  Outlet_Establishment_Year  \
0         False     False              False                      False
1         False     False              False                      False
2         False     False              False                      False
3         False     False              False                      False
4         False     False              False                      False
...         ...       ...                ...                        ...
8518      False     False              False                      False
8519      False     False              False                      False
8520      False     False              False                      False
8521      False     False              False                      False
8522      False     False              False                      False

      Outlet_Size  Outlet_Location_Type  Outlet_Type  Item_Outlet_Sales
0           False                 False        False              False
1           False                 False        False              False
2           False                 False        False              False
3            True                 False        False              False
4           False                 False        False              False
...           ...                   ...          ...                ...
8518        False                 False        False              False
8519         True                 False        False              False
8520        False                 False        False              False
8521        False                 False        False              False
8522        False                 False        False              False

[8523 rows x 12 columns]

In [ ]:
ds_salaries['Outlet_Size']

In [ ]:
# 5) Address the missing values by using a placeholder value.

ds_salaries['Outlet_Size'] = ds_salaries['Outlet_Size'].replace('True', 'False')

In [ ]:
# 7) Find and fix any inconsistent categories of data (for example: fix cat, Cat, and cats so that they are consistent
incon_da = ds_salaries.select_dtypes("object").columns
incon_da

Index(['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier',
       'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'],
      dtype='object')

In [ ]:
# 8) For any numerical columns, obtain the summary statistics of each (min, max, mean)

numerical_columns = ds_salaries.select_dtypes(include=['int64', 'float64'])
summary_stats = numerical_columns.describe()
print(summary_stats)

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year  \
count  7060.000000      8523.000000  8523.000000                8523.000000
mean     12.857645         0.066132   140.992782                1997.831867
std       4.643456         0.051598    62.275067                   8.371760
min       4.555000         0.000000    31.290000                1985.000000
25%       8.773750         0.026989    93.826500                1987.000000
50%      12.600000         0.053931   143.012800                1999.000000
75%      16.850000         0.094585   185.643700                2004.000000
max      21.350000         0.328391   266.888400                2009.000000

       Item_Outlet_Sales
count        8523.000000
mean         2181.288914
std          1706.499616
min            33.290000
25%           834.247400
50%          1794.331000
75%          3101.296400
max         13086.964800

## Exploratory Data Analysis

## Feature Inspection